{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}


{% block header %}
Homepage
{% endblock %}



{% block content %}

<h4> Welkom op mijn eigen gemaakte website, eigenlijk gemaakt ter lering en informatie voor de M.I.T. Webdevelopment Course </h4>
<br>
<p> De opdracht bestaat uit 4 HTML pagina's 1 ordered/unordered list, media queries  en een stylesheet met ID's en 5 CSS eigenschappen.
  Verder moet Bootstrap geintegreerd zijn en de CSS met SCSS gemaakt zijn waarvan 1 genestelde variabele en 1 met inheritance.
  Als extra uitdaging is deze website dynamisch gemaakt met Flask.
  Het stelt allemaal niet heel veel voor maar wie het kleine niet eert, wie het grote niet deert. Een mooi beginnersproject.

</p>

{% endblock %}
