$screen-sm-min: 50px; // Phones
$screen-md-min: 768px; // Small tablets (portrait view)
$screen-lg-min: 992px; // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

$primary-color: #333;

%standaardtext {
  font-family: Arial;
  font-size: 2rem;
  color: $primary-color;
}

.maincontainer {
  margin: auto;
  margin-top: 5%;
  @include sm {
    max-width: 95%;
  }
  @include md {
    max-width: 90%;
  }
  @include lg {
    max-width: 70%;
  }
}

h1 {
  @extend %standaardtext;
  font-weight: bold;
  background-color: yellow;
  text-align: left;
  padding: 50px;
}

.alert {
  @extend %standaardtext;
  text-align: center;
  border: 5px solid black
}

.container{
  display: flex;
  flex-direction: column;
  flex: wrap;
  align-items: flex-start;
  justify-content: center;
}

#eerstekolom {
  @extend %standaardtext;
  border: 1px solid black;
  background-color: #d3d3d3;
}
